<%- include('includes/head.ejs') %>

<body>
    <h1 id="principal">Este sitio es de Blindados, Aviones, Navíos potentes</h1><br>
    <p>Estas son algunas máquinas de guerra:</p>
    
    <!--Blindados-->
    <br><p>Blindados:</p>
    <ul class="list-group">
    <% for (let blindado of blindados) { %>
        <li class = "list-group-item list-group-item-dark"><%= blindado.nombre %></li>
    <%} %>
    
    </ul>
    <br>
    <a href="vehiculos/nuevoBlindado"><button type="button" class="btn btn-outline-secondary">Agregar un nuevo Blindado</button></a>
    <br><br>
    
    <!-- Aviones -->
    <br><p>Aviones:</p>
    <ul class="list-group">
    <% for (let avion of aviones) { %>
        <li class = "list-group-item list-group-item-dark"><%= avion.nombre %></li>
    <%} %>
    </ul>
    <br>
    <a href="vehiculos/nuevoAvion"><button type="button" class="btn btn-outline-secondary">Agregar un nuevo Avión</button></a>
    <br><br>
    
    <!-- //Caricaturas -->
    <br><p>Navíos:</p>
    <ul class="list-group">
    <% for (let navio of navios) { %>
        <li class = "list-group-item list-group-item-dark"><%= navio.nombre %></li>
    <%} %>
    </ul>
    <br>
    <a href="vehiculos/nuevoNavio"><button type="button" class="btn btn-outline-secondary">Agregar un nuevo Navío</button></a>
    <br><br>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </div>
</body>

<%- include('includes/foot.ejs') %>